@use "sass:color";
$primary-color: #27ae60;
$secondary-color: #81C784;
$background-color: #F5F5F5;
$text-color: #333333;
$highlight-color: #FFEB3B;
$transition-speed: 0.3s;

.container {
  padding: 20px 5em;
  padding-bottom: 60px;

  @media(max-width: 768px) {
    padding: 1em;
    padding-bottom: 60px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;

  @media(max-width: 768px) {
    justify-content: space-between; // Space out h1 and toggle
  }
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: $primary-color;
  margin-bottom: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: transform $transition-speed, opacity $transition-speed;

  @media(max-width: 768px) {
    font-size: 1.5em;
    padding-left: .5em;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.mobileToggle {
  display: none;

  @media(max-width: 768px) {
    display: block;
    position: absolute;
    right: .5em; // Aligns to the right of the header
    top: 50%;
    transform: translateY(-50%); // Vertically center relative to h1

    .burger:hover {
      background: transparent;
    }
  }
}

.menuDropdown {
  display: none;

  @media(max-width: 768px) {
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  padding: 10px;
  gap: 1em;
  background: white;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  @media(max-width: 768px) {
    display: none;
  }

  .tab {
    display: flex;
    align-items: center;
    gap: 0em;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all $transition-speed;
    position: relative;
    color: $text-color;
    z-index: 1;

    &:hover {
      background-color: color.adjust($secondary-color, $lightness: 10%);
    }
  }

  .active {
    color: white;
    background: $primary-color;

    &:hover {
      background: $primary-color;
    }
  }

  .icon {
    margin-right: 8px;
  }
}

.tabContent {
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.activeMenuItem {
  background-color: $primary-color;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}