header {
  background-color: #fff;
  min-height: 8vh;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
  padding: 15px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
}
header img {
  width: 170px;
}
header a {
  margin-left: 30px;
  transition: 0.5s;
  font-weight: 500;
}
header a:hover {
  color: #10b981;
}
header span {
  width: auto;
  padding: 0px 6px;
  background: #10b981;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 400;
  font-size: 1em;
}
.btn1 {
  transition: 0.5s;
}
.sign-in{
  height: unset !important;
  @media (max-width: 768px) {}
}
header h4 {
  font-weight: 500;
  margin-right: 20px;
}
header .toggle {
  display: none;
}
.list h4{
  margin-top: 0;
  margin-right: 2em;
  cursor: pointer;
}
.list .auth-buttons{
  display: flex;
  gap: 2em;
  @media (max-width: 768px){
    gap: .8em;
  }
  button{
    padding: .7em 2em;
    @media (max-width: 768px){
      font-size: 13px;
    }
  }
  .sign-up{
    background: rgb(219, 219, 219);
    color: black;
  }
  .sign-in:hover {
    background: white;
    color: #27ae60;
    border: 1px solid #27ae60;
  }
  .sign-up:hover {
    background: white;
    color: #27ae60;
    border: 1px solid #27ae60;
  }
}
.cart-icon{
  position: relative;
}
.cart-count{
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  font-size: 12px;
  background: #27ae60;
  padding: 1px 6px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
}
.list .authenticated-header{
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.admin-dashboard {
  display: block;
  font-weight: bold;
  color: #27ae60;
  &:hover {
    color: #3ccc78;
  }
}

.admin-dashboard-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.admin-dashboard{
  @media(max-width: 768px){
    display: none;
  }
}

.cart-link {
  position: relative;
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  font-size: 12px;
  background: #27ae60;
  padding: 1px 6px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
}

.logo{
  margin-left: 0;
  cursor: pointer;
}
.profile-menu{
  cursor: pointer;
}
.dropdown{
  margin-top: .9em;
  @media (max-width: 768px){
    margin-top: .9em;
    padding: 1em 0 !important;
    border-radius: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    padding: 0;
    min-height: 13vh;
  }
  .logo{
    width: 35%;
  }
  header img {
    width: 80%;
  }
  header .button {
    display: none;
  }
  header .nav .flex {
    display: none;
  }
  header .flex .list{
    h4{
      font-size: 14px;
    }
    button{
      padding: .7em 1em;
    }
  }
  header .toggle {
    display: block;
    margin-left: 0;
    button{
      height: unset;
      padding: 0;
      font-size: 14px;
      span{
        margin: 0;
        padding: .4em .5em;
        border-radius: 0;
      }
    }
  }
  .dropdown-mobile{
    margin-top: .9em;
    @media (max-width: 768px){
      margin-top: .9em;
      padding: 1em 0 !important;
      border-radius: 0 !important;
    }
  }
  header .small {
    position: absolute;
    top: 13vh;
    left: 0;
    width: 100%;
    background-color: #3ccc78;
    padding: 20px;
  }
  header li a {
    display: inline-block;
    margin-bottom: 20px;
    color: #fff;
  }
}
