.signupPage, .newPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    padding-right: 0;
    gap: 3em;
    overflow-x: hidden;
    min-height: 100vh;
  
    @media (max-width: 768px) {
      padding: 1em;
      padding-bottom: 3em;
      background: #fff;
    }

    img{
        width: unset;
        height: unset;
        cursor: unset;
    }
  
    .vector1,
    .vector2 {
      display: none;
      position: absolute;
  
      @media (max-width: 768px) {
        display: flex;
      }
    }
  
    .vector1 {
      top: 0;
      right: -2em;
    }
  
    .vector2 {
      bottom: 0;
      left: 0;
    }
  
    .circlet1,
    .circlet2,
    .key1,
    .key2,
    .key3,
    .thumb,
    .box {
      position: absolute;
  
      @media (max-width: 768px) {
        display: none;
      }
    }
  
    .circlet1 {
      bottom: 0;
      left: 20em;
    }
  
    .circlet2 {
      top: 0;
      right: 0;
    }
  
    .key1 {
      top: 2em;
      left: 20em;
    }
  
    .key2 {
      bottom: -8em;
      left: 3em;
    }
  
    .key3 {
      right: -2em;
    }
  
    .box {
      bottom: 12em;
      left: 20em;
    }
  
    .thumb {
      right: 0;
      bottom: 0;
    }
  
    .logo {
      width: 35%;
      cursor: unset;
  
      @media (max-width: 768px) {
        display: none;
      }
    }
  
    .form {
      width: 70%;
      min-height: 100vh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      z-index: 99;
      margin-top: 0;
      border-left: 2px solid #b2b2b2;
      padding: 4em 0;
      padding-left: 3em;
      padding-right: 3em;
  
      @media (max-width: 768px) {
        width: 100%;
        border-left: none;
        justify-content: start;
        padding: 0;
      }
      & > div {
        margin-bottom: 15px;
      }
  
      .back-arrow {
        display: none;
  
        @media (max-width: 768px) {
          display: flex;
          font-size: 30px;
          margin-bottom: 1em;
          cursor: pointer;
        }
      }
  
      h1 {
        color: #27ae60;
        margin: 0;
        font-weight: 600;
        font-size: 28px;
  
        span {
          color: #27364b;
          font-size: unset;
        }
      }
  
      p {
        margin: 0;
        margin-top: 0.3em;
        margin-bottom: 1.5em;
  
        a {
          text-decoration: none;
          color: #27ae60;
          cursor: pointer;
        }
      }
  
      .email-input,
      .phone-number-input,
      .password-input,
      .confirm-password-input {
        display: flex;
        flex-direction: column;
        .input-container{
          position: relative;
          height: 100%;
          input{
            width: 100%;
            height: 100%;
          }
          .eye {
            position: absolute;
            right: 1em;
            top: 33.5% !important;
            cursor: pointer;
            font-size: 20px;
          }
        }
  
        label {
          margin-bottom: 0.5em;
  
          span {
            color: red;
          }
        }
      }
  
      input {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 15px;
        outline-color: #ffd17b;
  
        @media (max-width: 768px) {
          border-radius: 40px;
        }
      }
  
      .remember-me {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        margin-top: 0.5em;
  
        div {
          display: flex;
          align-items: center;
          color: var(--text-color);
  
          input {
            width: 20px;
            height: 30px;
            margin: 0;
            margin-right: 1em;
            cursor: pointer;
            background: transparent;
          }
  
          label {
            a {
              text-decoration: none;
              color: #27ae60;
              font-weight: 600;
            }
          }
        }
      }
  
      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        z-index: 99;
        color: var(--text-color);
        border: 1px solid #ccc;
      }
  
      input[type="checkbox"]:checked {
        position: relative;
        border: 1px solid #27ae60;
      }
  
      input[type="checkbox"]:checked::before {
        content: "\2714";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        color: #27ae60;
      }
      .error-message {
        margin: 0;
        margin-top: 0.5rem;
        color: tomato;
        font-size: 0.875rem;
      }
  
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        align-items: center;
        justify-content: center;
  
        @media (max-width: 768px) {
          margin-top: .6em;
        }
  
        button {
          width: 80%;
          height: 8vh;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1em;
          font-size: 16px;
          font-weight: 600;
          border: none;
          border-radius: 5px;
  
          @media (max-width: 768px) {
            width: 100%;
            border-radius: 40px;
          }
        }
  
        .registerButton {
          padding: 10px;
          background-color: #27ae60;
          color: white;
        }
  
        // .signup-google {
        //   border: 1px solid #b2b2b2;
        //   background: transparent;
        //   color: black;
        //   width: 80%;
        //   border-radius: 5px;
        //   padding: .3em 0;
        //   div{
        //     border: none !important;
        //     display: flex !important;
        //     gap: 1em;
        //     justify-content: center;
        //     align-items: center;
        //   }
        //   > div:first-of-type {
        //     height: 7vh !important;
        //     display: flex;
        //     width: 100%;
        //     > div:first-of-type{
        //       max-width: 100% !important;
        //       height: 100% !important;
        //       width: 100% !important;
        //       :hover{
        //         background-color: white !important;
        //       }
        //       > div:first-of-type{
        //         max-width: 100% !important;
        //         height: 100% !important;
        //         width: 100% !important;
        //         :hover{
        //           background-color: white !important;
        //         }
        //         > div:first-of-type{
        //           max-width: 100% !important;
        //           height: 100% !important;
        //           width: 100% !important;
        //           :hover{
        //             background-color: white !important;
        //           }
        //           > div:first-of-type{
        //             max-width: 100% !important;
        //             height: 100% !important;
        //             width: 100% !important;
        //             :hover{
        //               background-color: white !important;
        //             }
        //           }
        //         }
        //       }
        //     }
        //   }
        //   span{
        //     font-size: 16px;
        //     font-weight: 600;
        //     font-family: 'Poppins', sans-serif;
        //   }
  
        //   @media (max-width: 768px) {
        //     width: 100%;
        //     border-radius: 40px;
        //   }
        // }

        .googleButton {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          width: 80%;
          height: 8vh;
          background-color: #fff;
          color: #333;
          border: 1px solid #ddd;
          border-radius: 4px;
          font-size: 1rem;
          font-weight: 500;
          cursor: pointer;
          transition: background-color 0.3s, border-color 0.3s;
          @media (max-width: 768px){
            width: 100%;
            border-radius: 40px;
          }
  
          .googleIcon {
            width: 20px;
            height: 20px;
          }
  
          &:hover {
            background-color: #f5f5f5;
            border-color: #ccc;
          }
        }
      }
    }
  
    .password-input {
      .eye {
        top: 38% !important;
      }
  
      input {
        margin-bottom: 0;
      }
  
      p {
        margin: 0;
        margin-bottom: 15px;
        margin-top: 3px;
        font-size: 14px;
        color: #7a7a7a;
      }
    }
  
    .confirm-password-input {
      input {
        margin-bottom: 0;
      }
    }
  }
  
  html[data-theme="light"] .signupPage {
    background-color: #fff;
    color: #000;
  }
  
  html[data-theme="dark"] .signupPage {
    background-color: #000;
    color: #fff;
  }

.newPassword{
    .form{
        gap: .5em;
    }
    h1{
        @media (max-width: 768px){
          margin-top: 1em !important;
          font-size: 27px !important;
          margin-bottom: .5em !important;
        }
    }
}