.contact form div {
  display: flex;
}
.name-email{
  gap: 1em;
}
.contact textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0px;
  padding: .8em;
  margin-top: 10px;
}
.contact input {
  margin-bottom: 0px;
  margin-right: 10px;
}
.contact form {
  padding: 30px;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
.shadow button {
  transition: 0.5s;
  margin-top: 1.7em;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadow button:hover {
  background: white;
  color: #27ae60;
  border: 1px solid #27ae60;
}
@media screen and (max-width: 768px) {
  .contact h4 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact form{
    padding: 30px 15px;
  }
  .contact form div {
    width: 100%;
    flex-direction: column;
  }
  #subject{
    margin-right: 0;
  }
  .contact input {
    width: 100%;
  }
  .shadow button{
    width: 100%;
  }
}
