* {
  font-family: "Filson Pro", sans-serif;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #be9656;
  border-radius: 8px;
  border: 3px solid #f1f1f1;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a3814a;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #be9656 #f1f1f1;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.App button:disabled {
  cursor: not-allowed;
}

body {
  padding: 0;
  margin: 0;
}

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border: none;
  border-radius: 0.4em;
  width: 1000px;
  height: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.back-to-top-button:hover {
  background-color: silver;
}

.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
  padding: .5rem;
  background: #be9656;
  border-radius: 50%;
  transition: .3s all ease-in-out;
  @media(max-width: 768px){
    top: 1rem;
    left: 1rem;
  }
}

.back-arrow:hover {
  background-color: #9e7b44;
}

@font-face {
  font-family: Kumbh Sans;
  src: url(../public/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: Filson Pro;
  src: url(../public/FilsonProRegular.otf);
}